*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
  }
  body > .el-container {
    margin-bottom: 40px;
  }
  input{
    font: 12px/150% Arial,"Microsoft YaHei","宋体",serif;
    color: #333;
    outline: 0;
    outline: none !important;
    box-sizing: content-box;
  }
